<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snow.dcl.heavenpool.dao.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="org.snow.dcl.heavenpool.domain.SysPermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, permission_name, uri, pid, description
  </sql>
    <select id="findAll" resultType="org.snow.dcl.heavenpool.domain.SysPermission">
        select
        *
        from sys_permission;
    </select>
    <select id="findBySysUserId" parameterType="integer" resultType="org.snow.dcl.heavenpool.domain.SysPermission">
        select sp.*
        from sys_user su
        left join sys_user_role sur on su.id = sur.user_id
        left join sys_role sr on sur.role_id = sr.id
        left join sys_role_permission srp on srp.role_id = sr.id
        left join sys_permission sp on sp.id = srp.permission_id
        where su.id=#{sysUserid}
    </select>
</mapper>