<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snow.dcl.heavenpool.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="org.snow.dcl.heavenpool.domain.SysUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="enable" jdbcType="TINYINT" property="enable"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <collection property="roles" ofType="org.snow.dcl.heavenpool.domain.SysRole">
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>

    <select id="findByUserName" parameterType="string" resultMap="BaseResultMap">
        select su.*,sr.role_name
        from sys_user su
        left join sys_user_role sur on su.id = sur.user_id
        left join sys_role sr on sur.role_id = sr.id
        where username=#{username}
    </select>

</mapper>