<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snow.dcl.heavenpool.dao.SysUserResourcesMapper">
  <resultMap id="BaseResultMap" type="org.snow.dcl.heavenpool.domain.SysUserResources">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="resources_id" jdbcType="INTEGER" property="resourcesId" />
  </resultMap>
  <insert id="insert" parameterType="org.snow.dcl.heavenpool.domain.SysUserResources">
    insert into sys_role_resources (role_id, resources_id)
    values (#{roleId,jdbcType=INTEGER}, #{resourcesId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.snow.dcl.heavenpool.domain.SysUserResources">
    insert into sys_role_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="resourcesId != null">
        resources_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="resourcesId != null">
        #{resourcesId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>